---
import { Navbar } from '@/components/Navbar';
import { Footer } from '@/partials/Footer';
import GlobalStyles from '@/styles/GlobalStyles.astro';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;

const GA_ID = import.meta.env.PUBLIC_GA_ID;
const isDev = import.meta.env.DEV;
---

<html lang={AppConfig.locale}>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='author' content={AppConfig.author} />

    <link rel='alternate' type='application/rss+xml' href='/rss.xml' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />

    <!-- Google tag (gtag.js) -->
    <script async src={`https://www.googletagmanager.com/gtag/js?id=${GA_ID}`}>

    </script>
    <script define:vars={{ GA_ID, isDev }}>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      window.gtag = gtag;
      if (isDev) {
        gtag('config', GA_ID, {
          debug_mode: true,
        });
      } else {
        gtag('config', GA_ID);
      }

      gtag('event', 'n_view', {
        n_path: window.location.pathname,
      });
    </script>

    <GlobalStyles />
  </head>
  <body class='bg-slate-900 text-gray-100'>
    <Navbar client:load />

    <slot />

    <Footer />
  </body>
</html>
